.pagination.justify-content-center {
    margin-bottom: 20px;
}

.pagination.justify-content-center svg.w-5.h-5 {
    width: 20px !important;
}

.note-editor.note-frame.card {
    z-index: 1;
}

.table-responsive {
    min-height: 250px;
}